<!DOCTYPE html>
<html>
    <head>
        <title>STUDENT CENSUS</title>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <header>
            <h1>API EXPERIMENTATION</h1>
        </header>
        <form action="\gitSubmit">
            <label for="username">Enter Your GitHub Username:</label>
            <input type="text" name="username">
            <label for="submit"><input id="submit" type="submit" value="submit"></label>
        </form>
    </body>
</html>
