<!DOCTYPE html>
<html>
    <head lang="en">
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
    <body>
        <h1>Welcome to our page</h1>
        <p>Our names are Charlotte and Tiago</p>
        <form action="/submit" method="post">
            <label for="namefield">Name <input type="text" id="namefield" name="name"></label>
            <label for="agefield">Age <input type="number" id="agefield" name="age"></label>
            
            <input type="submit" value="Submit">
            </form>
        </form>
    </body>
</html>