<!DOCTYPE html>
<html>
  <head lang="en">
    <title>REPOS</title>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <header>
      <h1>Here is a list of {{ user_info.login }}'s repos</h1>
      
    </header>
    <img src="{{ user_info.avatar }}" width="75" height="75">
    <p>This account was created on: {{ user_info.git_birthday }}</p>
    <p>They have {{ user_info.followers }} followers and are following {{ user_info.following }} accounts</p>
    <table cellspacing="0">
        <thead>
            <tr>
                <th>Repository names</th>
                <th>Date of creation</th>
                <th colspan="4">Latest commit information</th>
            </tr>
            <tr></tr>
        </thead>
        <tbody>
            <tr>
                <td class="sub-heading"></td>
                <td class="sub-heading"></td>
                <td class="sub-heading">Hash</td>
                <td class="sub-heading">Author</td>
                <td class="sub-heading">Date</td>
                <td class="sub-heading">Message</td>
            </tr>
            {% for repo in repos %}
            <tr>
                <td class="entry">{{repo.full_name}}</td>
                <td class="entry">{{repo.created_at}}</td>
                <td class="entry">{{repo.hash}}</td>
                <td class="entry">{{repo.author}}</td>
                <td class="entry">{{repo.date}}</td>
                <td class="entry">{{repo.message}}</td>
            </tr>
            {% endfor %}
        </tbody>
      
    </table>

  </body>
</html>
