<!DOCTYPE html>
<html>
    <head>
        <style>
            h1 {color: #0000CD; text-align: center;}
        </style>
    </head>
    <body>
        <h1>THANK YOU FOR YOUR SUBMISSION!</h1>
        <p>Here is a summary of your responses:</p>
        <p>Your name in {{first_name}} {{last_name}}. You are {{age}} years old and your student ID number is {{student_number}}.</p>
        <p>You are currently studying at a {{degree_level}} and your favourite module at the moment is {{module}}</p>
        
    </body>
    
</html>
